<h1>Conversation with <%= @conversation.sender == current_user.profile ? @conversation.receiver.user_name : @conversation.sender.user_name %></h1>

<div>
  <% @messages.each do |message| %>
    <p>
      <strong>
        <%= message.profile == current_user.profile ? "You" : message.profile.user_name %>:
      </strong>
      <%= message.body %>
      <br>
      <small>
        <%= message.created_at.in_time_zone('Bangkok').strftime("%H:%M, %d %b %Y") %> <!-- Display in Thailand time -->
      </small>
    </p>
  <% end %>
</div>

<h2>Send a Message</h2>
<%= form_with(model: [@conversation, @message], local: true) do |form| %>
  <div>
    <%= form.text_area :body, placeholder: "Type your message..." %>
  </div>
  <div>
    <%= form.submit "Send" %>
  </div>
<% end %>
