<h1>Conversation with <%= @conversation.sender == current_user.profile ? @conversation.receiver.user_name : @conversation.sender.user_name %></h1>

<div>
  <% @messages.each do |message| %>
    <p>
      <%# Check if the message belongs to the current user %>
      <strong>
        <%= message.profile == current_user.profile ? "Me" : message.profile.user_name %>:
      </strong>
      <%= message.body %>
    </p>
  <% end %>
</div>

<h2>Send a Message</h2>
<%= form_with(model: [@conversation, @message], local: true) do |form| %>
  <div>
    <%= form.text_area :body, placeholder: "Type your message..." %>
  </div>
  <div>
    <%= form.submit "Send" %>
  </div>
<% end %>