<h1>Edit Preferences</h1>

<%= form_with(model: @preference, local: true) do |form| %>
  <!-- Preferred Age Range -->
  <div class="field">
    <%= form.label :preferred_min_age, "Minimum Age" %>
    <%= form.number_field :preferred_min_age %>
  </div>

    <!-- Preferred Age Range -->
  <div class="field">
    <%= form.label :preferred_max_age, "Maximum Age" %>
    <%= form.number_field :preferred_max_age %>
  </div>

  <!-- Preferred Genders -->
  <div class="field">
    <%= form.label :preferred_genders, "Preferred Genders" %>
    <%= form.collection_check_boxes :preferred_gender_ids, @preferred_genders, :id, :label %>
  </div>

  <!-- Preferred Interests -->
  <div class="field">
    <%= form.label :preferred_interests, "Preferred Interests" %>
    <%= form.collection_check_boxes :preferred_interest_ids, @preferred_interests, :id, :name %>
  </div>

  <!-- Preferred Relationships -->
  <div class="field">
    <%= form.label :preferred_relationships, "Preferred Relationships" %>
    <%= form.collection_check_boxes :preferred_relationship_ids, @preferred_relationships, :id, :name %>
  </div>

  <!-- Preferred MBTI -->
  <div class="field">
    <%= form.label :preferred_mbti, "Preferred MBTI" %>
    <%= form.collection_check_boxes :preferred_mbti_ids, @preferred_mbti, :id, :label %>
  </div>

  <!-- Preferred Degrees -->
<div class="field">
  <%= form.label :preferred_degrees, "Preferred Degrees" %>
  <%= form.collection_check_boxes :preferred_degree_ids, @preferred_degrees, :id, :label %>
</div>

  <!-- Preferred Schools -->
  <div class="field">
    <%= form.label :preferred_schools, "Preferred Schools" %>
    <%= form.collection_check_boxes :preferred_school_ids, @preferred_schools, :id, :name %>
  </div>

  <!-- Preferred Programs -->
  <div class="field">
    <%= form.label :preferred_programs, "Preferred Programs" %>
    <%= form.collection_check_boxes :preferred_program_ids, @preferred_programs, :id, :name %>
  </div>

  <!-- Submit Button -->
  <div class="actions">
    <%= form.submit "Save Preferences" %>
  </div>
<% end %>
