<h1>Report <%= @reported_profile&.user_name || "Profile Not Found" %></h1>

<%= form_with(model: @report, url: reports_path(reported_user_id: @reported_profile.id), local: true) do |f| %>
  <div class="field">
    <%= f.label :reason, "Reason for reporting" %><br>
    <%= f.text_area :reason, placeholder: "Describe why you're reporting this profile" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Report" %>
  </div>
<% end %>