<h1>Report <%= @reported_user.user_name %></h1>

<%= form_with model: @report, url: reports_path(reported_user_id: @reported_user.id), local: true do |f| %>
  <div class="field">
    <%= f.label :reason, "Reason for reporting" %><br>
    <%= f.text_area :reason, placeholder: "Describe why you're reporting this user" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Report" %>
  </div>
<% end %>