<br><br><br><br><br>
<h1>Profiles#index</h1>
<p>Find me in app/views/profiles/index.html.erb</p>

<h1>Your Profile</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>User Name</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= current_user.email %></td>
      <td><%= current_user.profile.first_name %></td>
      <td><%= current_user.profile.last_name %></td>
      <td><%= current_user.profile.user_name %></td>
      <td><%= current_user.profile.age %></td>
      <td>
        <%= link_to 'Show', profile_path(current_user.profile) %>
        <%= link_to 'Edit', edit_profile_path(current_user.profile) %>
      </td>
    </tr>
  </tbody>
</table>

<h1>Other Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>User Name</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.user.email %></td> <!-- Display email here -->
        <td><%= profile.first_name %></td>
        <td><%= profile.last_name %></td>
        <td><%= profile.user_name %></td>
        <td><%= profile.age %></td>
        <td>
          <%= link_to 'Show', profile_path(profile) %>
          <%= link_to 'Edit', edit_profile_path(profile) %>
          <%= link_to 'Delete', profile_path(profile), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
