
<br><br><br><br><br>
<h1>Welcome Back!</h1>
<h2><%= @profile.first_name %> <%= @profile.last_name %></h2>

<p>Email: <%= @user.email %></p> <!-- Display user's email -->
<p>Username: <%= @profile.user_name %></p>
<p>Age: <%= @profile.age %></p>
<p>Gender: <%= @profile.gender.label %></p>
<p>MBTI: <%= @profile.mbti.label %></p>
<p>School: <%= @profile.school.name %></p>
<!-- Display other profile information -->
