<br><br><br><br><br>
<h1>Welcome Back!</h1>
<h2><%= @profile.first_name %> <%= @profile.last_name %></h2>

<p>Email: <%= @user.email %></p> <!-- Display user's email -->
<p>Role: <%= @user.role %></p>
<p>Username: <%= @profile.user_name %></p>
<p>Birthday: 
  <% if @profile.birthday.present? %>
    <%= @profile.birthday.strftime('%d %m %Y') %>
  <% else %>
    Not provided
  <% end %>
</p>
<p>Gender: <%= @profile.gender.label %></p>
<p>Age: <%= @profile.age %></p> <!-- Display the calculated age -->
<p>MBTI: <%= @profile.mbti.combined_value_label %></p>
<p>School: <%= @profile.school.combined_name_abbreviation %></p>
<p>Program: <%= @profile.program.combined_name_abbreviation %></p>
<p>Degree: <%= @profile.degree.label %></p>
<p>Educational Background: <%= @profile.educational_background %></p>
<p>Profile Picture URL: <%= @profile.profile_picture_url %></p>

<h3>Interests</h3>
<% if @interests.any? %>
  <ul>
    <% @interests.each do |interest| %>
      <li><%= interest.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No interests selected.</p>
<% end %>

<h3>Preferred Relationship Types:</h3>
<% if @profile.relationships.any? %>
  <ul>
    <% @profile.relationships.each do |relationship| %>
      <li><%= relationship.name %> - <%= relationship.description %></li>
    <% end %>
  </ul>
<% else %>
  <p>No preferred relationships selected.</p>
<% end %>


<!-- app/views/profiles/show.html.erb -->
<% if @profile.user == current_user %>
 <%= link_to 'Edit Profile', edit_profile_path(@profile), class: "btn btn-primary" %>
 <!--   <a href="<%= edit_profile_path(@profile) %>" class="btn btn-primary">Edit Profile</a>     -->

  <%= form_with(url: profile_path(@profile), method: :delete, local: true, id: "profileDeletionForm") do %>
    <div class="form-group">
      <label for="username_confirmation">Type your username to confirm deletion:</label>
      <%= text_field_tag :username_confirmation, nil, placeholder: "Enter your username", class: "form-control", required: true %>
    </div>
    <%= submit_tag 'Delete Profile', class: "btn btn-danger" %>
  <% end %> <br><br><br><br>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const form = document.getElementById("profileDeletionForm");
      form.addEventListener("submit", function(event) {
        const usernameInput = event.target.querySelector("input[name='username_confirmation']");
        const enteredUsername = usernameInput.value;
        const currentUsername = "<%= current_user.profile.user_name  %>";

        if (enteredUsername !== currentUsername) {
          alert("Username does not match. Please type your correct username to confirm.");
          event.preventDefault(); // Prevent form submission
        }
      });
    });
  </script>
<% end %>

